html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




html {
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', 'cursive';
font-family: 'Lexend Deca', sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    min-width: 360px;
 }



.cars {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0rem auto;
    padding: 2rem;
}

.sedans {
    background-color:hsl(31, 77%, 52%) ;
}

.suvs {
    background-color:hsl(184, 100%, 22%) ;
}

.luxury {
      background-color: hsl(179, 100%, 13%);
}

.car-name { color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Big Shoulders Display';
    text-transform: uppercase;
    padding: 3rem 0;

}

.car-features {color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5rem;


}

.car-button {
            padding: 1rem 2rem;
            border-radius: 2rem; 
            margin:3rem  8rem 0rem 0rem;
            display: inline-block;
            text-decoration: none;
            background-color: whitesmoke;
            max-width: 200px;
            text-align: center;
            
}

#one {
    color: hsl(31, 77%, 52%);
}

#two {
    color:hsl(184, 100%, 22%);
}

#three {
    color:hsl(179, 100%, 13%);
}


.car-img {
    width: 40%;
}

.attribution {
    padding: auto 2rem;
    margin: .5rem 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 11px; text-align: center;
    }
    a {
        text-decoration: none;
    }
.attribution a { color: hsl(228, 45%, 44%); }

.car-button:hover , .car-button:focus
          {
              background-color: #F0B67F;
              box-shadow: 2rem yellowgreen;
              transition: 0.5s;
          }

@media (min-width: 1000px){
    
    .panel {
      flex-direction: row;
      justify-content: center;
    }
    
    .cars {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0rem auto;
        padding: 2rem; 
        min-width: 300px;
        max-width: 350px;
        margin-top: 10%;
    }


    .car-button {
        padding: 1rem 2rem;
        border-radius: 2rem; 
        margin:3rem  0rem 0rem 0rem;
        display: inline-block;
        text-decoration: none;
        background-color: whitesmoke;
        max-width: 200px;
        text-align: center;
        
    }
   
  }